<!-- Page header -->
<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline" [ngStyle]="{'margin-top': !currentBreadcrumb.buttons ? '20px' : '20px', 'margin-bottom': !currentBreadcrumb.buttons ? '20px' : '20px'}">
    <div class="page-title d-flex" style="margin-top:-10px; padding-bottom: 0px">
      <h4><i [ngClass]="[currentBreadcrumb.icon, 'mr-2']"></i> <span class="font-weight-semibold">{{currentBreadcrumb.title | translate}}</span> <span *ngIf="header && header.description"> - {{header.description | translate}}.</span></h4>
      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none">
      <div class="d-flex justify-content-center">
        <ng-container *ngFor="let button of currentBreadcrumb.buttons">
          <a [routerLink]="button.url" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
                            <i [class]="button.icon" style="font-size: 20px"></i>
                            <span>{{button.label | translate}}</span>
                        </a>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline" id="breadcrumb">
    <div class="d-flex">
      <div class="breadcrumb">
        <ng-container *ngFor="let bread of breadcrumbs">
          <a *ngIf="!bread.last" [routerLink]="bread.url" class="breadcrumb-item"><i [class]="bread.icon"></i> {{bread.title | translate}}</a>
          <span *ngIf="bread.last" class="breadcrumb-item active"><i [class]="bread.icon"></i> {{bread.title | translate}}</span>
        </ng-container>
      </div>
    </div>
  </div>

</div>
<!-- /page header -->