<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static fixed-top">
  <div class="navbar-brand">
    <a href="#" class="d-inline-block">
            <img id="img-logo-header" src="assets/global_assets/images/generic-company-logo.svg" alt="">
        </a>
  </div>

  <div class="d-md-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="javascript:void(0)" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <app-select-language></app-select-language>

      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/user/no_avatar.jpg" class="rounded-circle" alt="">
                    <span>{{user?.name}}</span>
                </a>

        <div class="dropdown-menu dropdown-menu-right">
          <!-- <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Meu perfil</a> -->
          <a [routerLink]="['/password/change']" routerLinkActive="active" class="dropdown-item"><i class="icon-lock2"></i>{{ 'change-password.label' | translate}}</a>
          <div class="dropdown-divider"></div>
          <button (click)="logout()" class="dropdown-item"><i class="icon-switch2"></i>{{'system.exit' | translate}}</button>
        </div>
      </li>
    </ul>
  </div>
</div>